.catalog {
  padding: 80px 0 0 0;
}


.ui-state-default {
  background: none;
  color: black;
  border: none;
}

.ui-icon {
  background: none;
  width: 0;
  height: 0;
}

.ui-state-hover .ui-icon {
  background: none;
}

.ui-accordion .ui-accordion-header {
  padding: 0;
  margin: 0;
  font-size: 24px;
}

.ui-widget-content {
  border: none;
}

.catalog__content {
}
.catalog__title {
  font-weight: 400;
  font-size: 48px;
  line-height: 65px;
  margin: 0 0 16px 0;
}
.catalog__desc {
  font-size: 16px;
  line-height: 32px;
  max-width: 1080px;
  margin: 0 0 50px 0;
}
.catalog__row {
  display: flex;
  justify-content: space-between;
}
.catalog__column {
  display: flex;
  flex-direction: column;
}
.catalog__artist {
}
.artist {
}
.artist__img {
}
.artist__name {
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  margin: 30px 0 15px 0;
}
.artist__date {
  font-size: 12px;
  line-height: 16px;
  color: #999999;
  margin: 0 0 15px 0;
}
.artist__desc {
  font-size: 16px;
  line-height: 32px;
  max-width: 750px;
}
.catalog__accordion {
  width: 800px;
}
.accordion {
}
.accordion__data {
}


.catalog__accordion .accordion__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  padding: 41px 0;
  margin: 0;
 
  border-top: 1px solid #cacaca;
  border-radius: 0;
}

.accordion__title:nth-last-child(2) {
  border-bottom: 1px solid #cacaca;
}


.catalog__accordion .ui-state-active {
  border-top: 1px solid #7943A4;
  border-bottom: 1px solid #7943A4;
  color: #7943A4;
}

.accordion__wrapper {
  max-height: 339px;
  padding: 25px 0;
  box-sizing: border-box;
}

.accordion__block {
  display: flex;
}
.accordion__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}
.accordion__data.active .accordion__list {
  padding: 25px 0;
}
.accordion__item {
}
.accordion__link {
  color: #333333;
  font-size: 16px;
  line-height: 32px;
}

